{% extends 'base.html' %}

{% load static %}

{% block title %}Solve Mystery{% endblock %}

{% block content %}

<!-- about page code starts here -->
<div>
	<h1>Description</h1>
	
	<p class="about">'Sherlocked' is fervent journey of relating the clues and solving a mystery. You are supposed to technically anaylse the case as a detective to reach to its crux. An abandoned backpack is discovered at Jojoba Park, while the man advancing to possess it vanishes into thin air without even picking it up as the police patrolling penetrates in. This develops into an series of events that lead to the criminal. 'Sherlocked' Exilerating event that keeps you on the edge of your seats the whole time. So, hop into the ride of 'Sherlocked' and to find what lies forth and track the crime that was once concealed!</p>
</div>

{% endblock %}