{% extends 'base.html' %}

{% block title %}Rules{% endblock %}

{% block content %}
    <div id="menu-table">
        <h2 class="mb-3">Leaderboard</h2>
        <div class="table-responsive">
            <table class="table table-borderless text-center">
                <tr id="table-head">
                    <th>S.No</th>
                    <th>Username</th>
                    <th>Level</th>
                    <th>College</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}