{% extends 'base.html' %}

{% block title %}Rules{% endblock %}

{% block content %}
    <div id="rules-content">
        <h1>Rules</h1>
        <ul style="margin-left: 1vw; padding-left: 0; text-align: left; margin-top: 5vh;">
            <li>This is a 3-day event.</li>
            <li>You are supposed to solve the questions on the basis of the hints given in the question.</li>
            <li>After Each question there will be time gap at the end of which you are led to the next question.</li>
            <li>The person who solves the highest number of questions at the end of the given timeframe will be declared as the winner</li>
            <li>All the queries regarding the event must be asked on the forum.</li>
        </ul>
    </div>
{% endblock %}