{% extends 'base.html' %}

{% block title %}You gotta wait!{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'flipclock/compiled/flipclock.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'flipclock/compiled/flipclock.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'flipclock/css/clock.css' %}">

    <!-- TODO: Add some better text message here. -->
    <div>
        Wait Time
    </div>
    <div class='countdown-clock' style="margin: 40px;">
            
        </div>

        <script type="text/javascript">
        var sec = "{{ time_left }}";
            $(document).ready(function() {
                var clock = $('.countdown-clock').FlipClock(sec, {
                    autoStart: false,
                    callbacks: {
                        stop: function() {
                            window.location.reload();
                        }
                    }
                })
                    
                 
                clock.setCountdown(true);
                clock.start();
            });
        </script>
{% endblock %}