{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="container">
        <div class="sidebar">
            <div class="logo">
                <h1 id="header">Sherlocked</h1>
                <img src="{% static 'img/sherlock.png' %}" height="150" width="150" alt="sherlock image">
            </div>
            <a href="#" class="links">Solve Mystery</a>
            <a href="#" class="links">Leaderboard</a>
            <a href="#" class="links">Description</a>
            <a href="#" class="links">Rules</a>
            <a href="#" class="links">Forum</a>
            <a href="#" class="links">Logout</a>
        </div>
    
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>  
    </div>
  
</body>
</html>