{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="text-center dash">
        Hi {{ user.username }}! You are at question {{ user.level }}
        <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>
	{% else %}
    <div class="text-center dash">
		<p>YOU ARE NOT LOGGED IN !</p>
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    </div>
    {% endif %}
{% endblock %}