@font-face {
    font-family: "Legends";
    src: url(qwe.ttf) format("truetype");
}

@font-face {
    font-family: "bahnschrift";
    src: url(bahnschrift_light.ttf) format("truetype");
}

input[type=text]:focus {
	background: white;

}

input::placeholder {
    text-align: center;
    color: white;
    opacity: 0.7
}

.dash{
    font-family: "legend" !important;
	margin: 18% 10%;
	font-size: 3vw;
}

.dash a{
	color: #231f20 !important;
}

.dash a:hover{
	color: #ffcc99 !important;
}

.btn1{
	color: white;
	background-color:#6F4242;
	border-radius: 5px;
	border:none;
	margin-top: 5vh;
	padding: 0.8%;
	box-shadow: none; 
	margin-left: 0;
	margin-top: 0;
	width: 20%;
}

p,h1{
    font-family: "bahnschrift";

}

body {
	margin: 0;
	padding: 0;
	background-color: #fef9c7;
    font-family: "bahnschrift";

}

a:link {
  text-decoration: none;
  color:white;

}

a:visited {
  text-decoration: none;
  color:white;
 
}

li:hover{
	text-decoration: none;
    font-color:white;
	background-color: #6F4242;	
}

li:active {
  text-decoration: none;
  font-color:white;
  background-color: #6F4242;

}


h2{
    font-family: "Legends";

}

#divOne {
	height: 100vh;
	width: 25%;
	background-color: #231f20;
}

#oneOne {
	height: 48vh;
	padding-top: 5vh;
}

#oneOne h2 {
	font-family: "Legends", sans-serif;
}

#sher-image {
	padding-top: 2vh;
	width: 180px;
	min-width: 160px;
}

#oneTwo {
	height: 52vh;
}

#oneTwo ul {
	list-style: none;
	display: block;
	padding-left: 0;
	width: 100%;
}

#oneTwo ul li {
	height: 8vh;
	font-size: 1.2em;
	width: 100%;
	padding-top: 2vh;
}

#oneTwo ul li span {
	padding: 0 2vw;
}

#toggle-button {
	display: none;
}

#divTwo {
	/*background-color: #EAEAAE;*/
	
	width: 75%;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("../img/bgbg.png");
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 5vw;
	overflow-x: auto;
}

#table-head {
	background-color: #6F4242;
	color: white;
	font-size: 12px;

}

#menu-table {
	width: 80%;
	display: block;
	margin: auto;
}

#menu-table h2{
	font-family: "Legends", sans-serif;
}

#answer{
	background: transparent;
    border: none;
    color: #6F4242;
    outline:none;
    width: 50%;
    box-shadow:none;
    border-bottom: 2px solid black;
    border-radius: none;
    display: inline-block;
    margin-left: 1%;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 3%;
}

#answer::placeholder {
	color: #6F4242;
	font-weight: bolder;
	text-align: left;
}

#story-btn{
	margin-left: 1%;
}

.question_story{
	height: 35vh;
	max-height: 35vh;
	overflow-y: auto;
	width: 90%;
}
#ques-img img{
	width: 50vw;
	height: auto;
}

.about{
	margin-top: 4vh;
}

#rules-content li:hover {
	background: transparent;
}

.icon-bar img{
	width: 24px;
}

.icon-bar {
	float: right;
}

@media only screen and (max-width: 768px){
	
	#ques-img img{
		width: 60vw;
		height: auto;
		float: left;
	}
	#divOne {
		width: 100%;
		height: 53vh;
		position: absolute;
		top: -53vh;
		transition: all 400ms linear;
		z-index: 2;
	}

	#toggle-button {
		display: block;
		position: absolute;
		top: 54vh;
		left: 1vw;
		background: transparent;
		border: 0px;

	}

	#leaderboard-table {
		max-height: 70vh !important;
		margin-top: 8vh !important;
	}

	#divOne.active{
		top: 0vh;
	}

	#oneOne {
		width: 50%;
		height: 53vh;
		float: left;
	}

	#oneTwo{
		width: 50%;
		height: 53vh;
		float: right;
	}

	#divTwo{
		width: 100%;
		padding: 10vw;
		text-align: center;
	}

	#menu-table {
		width: 90%;
	}
	h4{
		padding-top: 10%;
	}

	.dash{
		margin-top: 50%;
		font-size: 7vw !important;
	}

	.dash a{
		margin-top: 15% !important;
	}
	.question_story{
		height: 55vh;
		max-height: 55vh;
		overflow-y: auto;
		text-align: left;
		display: block;
		margin: 6% auto;
	}

	#story{
		margin-top: 2%;
	}

	#question-btn{
		margin-top: 6%;
		width: 60%;
		height: 5vh;
	}

	#question{
		margin-top: 8%;
	}

	#question-main{
		text-align: left;
	}

	#question h2{
		text-align: left;
	}

	#answer{
		width: 90%;
		float: left;
		margin-top: 15%;
		margin-bottom: 12%;
	}

	.ques-btn {
		margin: auto;
		width: 50%;
	}

	#story-btn{
		width: 50%;
		float: center;
		margin: 0% auto;
	}

	.about{
		text-align: left;
	}

	#oneTwo ul li span {
		padding: 0 5vw;
	}

	.icon-bar {
		padding-right: 2vw;
	}

	.about {
		margin-left: 2%;
		margin-right: 2%;
	}

	#rules{
		margin-left: 4% !important;
		margin-right: 3% !important;
	}

	
}

@media only screen and (max-width: 576px){
	#divOne{
		height: 90vh;
		top: -90vh;
		transition: all 750ms linear;
		z-index: 2 !important;
	}
	#toggle-button {
		top: 91vh;
	}
	#divone.active {
		top: 0vh;
	}
	#oneOne {
		width: 100%;
		height: 45vh;
		padding-top: 0vh;
		display: block;
		margin: auto;
		padding-top: 2vh;
	}

	#sher-image {
		width: 165px;
	}

	h4{
	padding-top: 10%;
}
.dash{
	margin-top: 50%;
	font-size: 7vw !important;
}

.dash a{
	margin-top: 15% !important;
}



	#oneTwo{
		width: 100%;
		height: 45vh;
		display: block;
		margin: auto;
	}

	#oneTwo ul {
		padding-bottom: 1vh;
	}

	#oneTwo ul li {
		padding-top: 1vh;
		height: 7.5vh;
	}

	#divTwo {
		width: 100%;
	}

	#menu-table{
		width: 95%;
	}
}